comidia
default
gruvbox-16
gruvbox-256
ice
kevin
lazy
LH
mutt-colors
nongeek
openbsd
openbsd.redondos
pablo
phil
rado
rado.1
rohrbach
rosenfeldstheme
solarized
strcat
test1
test2
tomastheme
tomorrow-night
tomorrow-night-16
trans-blue
trans-cyan
trans-gen
trans-green
trans-magenta
trans-red
trans-yellow
vombatidae
white
solarized-dark-256
