@-moz-document regexp('(?!https://3dnews\\.ru).*') {
    .dark_mode #left-sidebar { display: none !important; }
    .dark_mode #right-sidebar { display: none !important; }
    .dark_mode #section-header { display: none !important; }
    .sp-form { display: none !important; }
    .sp-form-outer { display: none !important; }
    .content-block-data { display: none !important; }
    .mobileMenuContent { display: none !important; }
    .showMenuButton { display: none !important; }
    .mlogo { display: none !important; }
    .nomargins { display: none !important; }
    .content-block-header { display: none !important; }
    #mc-container { display: none !important; }
    .entry-body ul li { display: none !important; }
    #stripe { display: none !important; }
    #section-header .section-title { display: none !important; }
    .footer-sub { display: none !important; }
    #footer { display: none !important; }
    .dark_mode .footer-sub { display: none !important; }
    .content-ads .ad.nomargins, .content-ads { display: none !important; }
    .ad { display: none !important; }
    #animation_container, #_preload_div_ { display: none !important; }
    .cbb { display: none !important; }
    .entry-body p:first-of-type { display: none !important; }
    #adfox_mob1 { display: none !important; }
    #adfox_mob2 { display: none !important; }
    #adfox_mob3 { display: none !important; }
    #adfox_mob4 { display: none !important; }
    .ufe0272e1 { display: none !important; }
    .ymarket-affiliate-widget { display: none !important; }
}
