@-moz-document regexp('(?!https://4pda\\.to).*') {
    .post, .post .visual { display: none !important; }
    .second-menu .menu-brands { display: none !important; }
    #U8P1Kce00V, #sidebar { display: none !important; }
    .comment-box .heading { display: none !important; }
    .holder-no-hidden { display: none !important; }
    .menu-main-mobile .menu-main-item .menu-main-item-space { display: none !important; }
}
