@-moz-document regexp('(?!https://habr\\.com).*') {
    .tm-header { display: none !important; }
    .tm-block__body { display: none !important;  }
    .tm-layout-sidebar { display: none !important; }
    .tm-base-layout__header { display: none !important; }
    .tm-base-layout__header_is-sticky { display: none !important; }
    .tm-editoral-subscription { display: none !important; }
    .tm-footer-menu { display: none !important; }
    .tm-footer { display: none !important; }
    .tm-page__sidebar { display: none !important; }
    .tm-block { display: none !important; }
    .tm-block_spacing-around { display: none !important; }
    .tm-project-block_variant-questions { display: none !important; }
    .tm-company-card__branding { display: none !important; }
    .tm-company-card { display: none !important; }
    .tm-project-block { display: none !important; }
    .tm-ad-banner__title { display: none !important; }
    .ns-4xz85-e-1 { display: none !important; }
    #banner-large-eta-vanilla { display: none !important; }
    #banner-large-logo-vanilla { display: none !important; }
    .roxotAdContainer { display: none !important; }
}
