@-moz-document regexp('(?!https://www\\.ixbt\\.com).*') {
    .b-block__conflist { display: none !important; }
    .calendar_body { display: none !important; }
    .g-grid_column__middle, .g-grid_column__small { display: none !important; }
    .branding .b-content__breadcrumbs { display: none !important; }
    .b-mainmenu { display: none !important; }
    .bcontainer { display: none !important; }
}
