@-moz-document regexp('(?!https://joyreactor\\.cc).*') {
    .grid { display: none !important; }
    .blog_pic_results { display: none !important; }
    .sideheader { display: none !important; }
    .similar_post { display: none !important; }
    .blogs { display: none !important; }
}
