@-moz-document regexp('(?!https://lifehacker\\.ru).*') {
    .article-list { display: none !important; }
    .comments__item { display: none !important; }
    .link { display: none !important; }
    .top-header { display: none !important; }
    .nav-menu-below-header__container { display: none !important; }
    .slider { display: none !important; }
    .read-also { display: none !important; }
    .lh-newsletter-subscription-form { display: none !important; }
    .above-comments-widgets__container { display: none !important; }
    .comments__container-inner { display: none !important; }
    .widgets-renderer { display: none !important; }
    .other-content__right-sidebar { display: none !important; }
    .other-content__sidebar-widgets { display: none !important; }
}
