@-moz-document regexp('(?!https://packageradar\\.com).*') {
    .ns-outlo-v-5 .ns-outlo-e-2 { display: none !important; }
    .ns-outlo-l-tall-banner .common-animation-pattern { display: none !important; }
    .img_ad:hover { display: none !important; }
    .outer-wrapper.wide.assetless { display: none !important; }
    #mys-wrapper { display: none !important; }
    body.jar { display: none !important; }
    id="aswift_4_anchor" { display: none !important; }
    footer { display: none !important; }
}
