ComixCursors-Black
ComixCursors-Blue
ComixCursors-Green
ComixCursors-Opaque-Black
ComixCursors-Opaque-Blue
ComixCursors-Opaque-Green
ComixCursors-Opaque-Orange
ComixCursors-Opaque-Red
ComixCursors-Opaque-Slim-Blue
ComixCursors-Opaque-Slim-Green
ComixCursors-Opaque-Slim-Orange
ComixCursors-Opaque-Slim-Red
ComixCursors-Opaque-Slim-White
ComixCursors-Opaque-White
ComixCursors-Orange
ComixCursors-Red
ComixCursors-Slim-Black
ComixCursors-Slim-Blue
ComixCursors-Slim-Green
ComixCursors-Slim-Orange
ComixCursors-Slim-Red
ComixCursors-Slim-White
ComixCursors-White
capitaine-cursors
default
'Equinox Evolution Dusk'
la-capitaine-icon-theme
ROX
